In [2]:
import pandas as pd

In [8]:
csv = pd.read_csv('/Volumes/SD/MOD09GAtestRadMean.csv', header = None)

In [9]:
csv.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,MOD09GA.A2012001.h08v05.006.2015229234041,NaN,NaN,7575.222222,4794.666667,9600.444444,6569.888889,15511.777778,4284.111111,4663.222222,2334.888889,3753.222222,4515.777778,4731.111111,4003.333333,0.042358,0.016367,0.037986,NaN
1,MOD09GA.A2012002.h08v05.006.2015229215527,NaN,NaN,1801.000000,2217.000000,-7788.111111,6280.555556,16547.888889,3294.222222,3476.111111,2538.888889,3059.000000,3456.666667,3403.666667,2802.333333,0.026789,0.008679,0.021226,NaN
2,MOD09GA.A2012003.h08v05.006.2015229234530,NaN,NaN,1289.000000,5870.777778,9385.333333,6668.888889,15194.444444,4443.555556,4876.444444,2689.000000,3920.222222,4628.666667,5169.333333,4214.555556,0.046432,0.017533,0.042363,NaN
3,MOD09GA.A2012004.h08v05.006.2015230024441,NaN,NaN,2022.444444,56.777778,14222.888889,6333.666667,16212.666667,3712.555556,4039.666667,1912.444444,3195.000000,3860.888889,4107.444444,3495.666667,0.042174,0.016134,0.035613,NaN
4,MOD09GA.A2012005.h08v05.006.2015230022554,NaN,NaN,1089.777778,5741.777778,-7277.333333,6144.111111,17291.666667,3337.555556,3562.555556,2504.111111,3072.222222,3379.444444,2923.555556,2023.000000,0.032599,0.010730,0.026017,NaN

In [10]:
#Now we will add in column names"
csv.columns = ["file_name", 
               "x_position", 
               "y_position", 
               "state_1km_1",
               "SensorZenith_1",
               "SensorAzimuth_1",
               "SolarZenith_1",
               "SolarAzimuth_1",
               "sur_refl_b01_1",
               "sur_refl_b02_1",
               "sur_refl_b03_1",
               "sur_refl_b04_1",
               "sur_refl_b05_1",
               "sur_refl_b06_1",
               "sur_refl_b07_1",
               "NDVI",
               "EVI",
               "EVI2",
               "QA_result"]

In [11]:
#Now check to make sure the column names were inserted
csv.head()

,file_name,x_position,y_position,state_1km_1,SensorZenith_1,SensorAzimuth_1,SolarZenith_1,SolarAzimuth_1,sur_refl_b01_1,sur_refl_b02_1,sur_refl_b03_1,sur_refl_b04_1,sur_refl_b05_1,sur_refl_b06_1,sur_refl_b07_1,NDVI,EVI,EVI2,QA_result
0,MOD09GA.A2012001.h08v05.006.2015229234041,NaN,NaN,7575.222222,4794.666667,9600.444444,6569.888889,15511.777778,4284.111111,4663.222222,2334.888889,3753.222222,4515.777778,4731.111111,4003.333333,0.042358,0.016367,0.037986,NaN
1,MOD09GA.A2012002.h08v05.006.2015229215527,NaN,NaN,1801.000000,2217.000000,-7788.111111,6280.555556,16547.888889,3294.222222,3476.111111,2538.888889,3059.000000,3456.666667,3403.666667,2802.333333,0.026789,0.008679,0.021226,NaN
2,MOD09GA.A2012003.h08v05.006.2015229234530,NaN,NaN,1289.000000,5870.777778,9385.333333,6668.888889,15194.444444,4443.555556,4876.444444,2689.000000,3920.222222,4628.666667,5169.333333,4214.555556,0.046432,0.017533,0.042363,NaN
3,MOD09GA.A2012004.h08v05.006.2015230024441,NaN,NaN,2022.444444,56.777778,14222.888889,6333.666667,16212.666667,3712.555556,4039.666667,1912.444444,3195.000000,3860.888889,4107.444444,3495.666667,0.042174,0.016134,0.035613,NaN
4,MOD09GA.A2012005.h08v05.006.2015230022554,NaN,NaN,1089.777778,5741.777778,-7277.333333,6144.111111,17291.666667,3337.555556,3562.555556,2504.111111,3072.222222,3379.444444,2923.555556,2023.000000,0.032599,0.010730,0.026017,NaN

In [12]:
#To get the date, we need to split the file_name string

csv[['sensor','year_day','location','tile','julian_day']] = csv['file_name'].str.split('.',expand=True)

In [13]:
csv.head()

,file_name,x_position,y_position,state_1km_1,SensorZenith_1,SensorAzimuth_1,SolarZenith_1,SolarAzimuth_1,sur_refl_b01_1,sur_refl_b02_1,...,sur_refl_b07_1,NDVI,EVI,EVI2,QA_result,sensor,year_day,location,tile,julian_day
0,MOD09GA.A2012001.h08v05.006.2015229234041,NaN,NaN,7575.222222,4794.666667,9600.444444,6569.888889,15511.777778,4284.111111,4663.222222,...,4003.333333,0.042358,0.016367,0.037986,NaN,MOD09GA,A2012001,h08v05,006,2015229234041
1,MOD09GA.A2012002.h08v05.006.2015229215527,NaN,NaN,1801.000000,2217.000000,-7788.111111,6280.555556,16547.888889,3294.222222,3476.111111,...,2802.333333,0.026789,0.008679,0.021226,NaN,MOD09GA,A2012002,h08v05,006,2015229215527
2,MOD09GA.A2012003.h08v05.006.2015229234530,NaN,NaN,1289.000000,5870.777778,9385.333333,6668.888889,15194.444444,4443.555556,4876.444444,...,4214.555556,0.046432,0.017533,0.042363,NaN,MOD09GA,A2012003,h08v05,006,2015229234530
3,MOD09GA.A2012004.h08v05.006.2015230024441,NaN,NaN,2022.444444,56.777778,14222.888889,6333.666667,16212.666667,3712.555556,4039.666667,...,3495.666667,0.042174,0.016134,0.035613,NaN,MOD09GA,A2012004,h08v05,006,2015230024441
4,MOD09GA.A2012005.h08v05.006.2015230022554,NaN,NaN,1089.777778,5741.777778,-7277.333333,6144.111111,17291.666667,3337.555556,3562.555556,...,2023.000000,0.032599,0.010730,0.026017,NaN,MOD09GA,A2012005,h08v05,006,2015230022554

In [14]:
#Now we need to remove the 'A' from the year day column
csv['year_day'] = csv['year_day'].map(lambda x: x.lstrip('A'))

In [15]:
csv.head()

,file_name,x_position,y_position,state_1km_1,SensorZenith_1,SensorAzimuth_1,SolarZenith_1,SolarAzimuth_1,sur_refl_b01_1,sur_refl_b02_1,...,sur_refl_b07_1,NDVI,EVI,EVI2,QA_result,sensor,year_day,location,tile,julian_day
0,MOD09GA.A2012001.h08v05.006.2015229234041,NaN,NaN,7575.222222,4794.666667,9600.444444,6569.888889,15511.777778,4284.111111,4663.222222,...,4003.333333,0.042358,0.016367,0.037986,NaN,MOD09GA,2012001,h08v05,006,2015229234041
1,MOD09GA.A2012002.h08v05.006.2015229215527,NaN,NaN,1801.000000,2217.000000,-7788.111111,6280.555556,16547.888889,3294.222222,3476.111111,...,2802.333333,0.026789,0.008679,0.021226,NaN,MOD09GA,2012002,h08v05,006,2015229215527
2,MOD09GA.A2012003.h08v05.006.2015229234530,NaN,NaN,1289.000000,5870.777778,9385.333333,6668.888889,15194.444444,4443.555556,4876.444444,...,4214.555556,0.046432,0.017533,0.042363,NaN,MOD09GA,2012003,h08v05,006,2015229234530
3,MOD09GA.A2012004.h08v05.006.2015230024441,NaN,NaN,2022.444444,56.777778,14222.888889,6333.666667,16212.666667,3712.555556,4039.666667,...,3495.666667,0.042174,0.016134,0.035613,NaN,MOD09GA,2012004,h08v05,006,2015230024441
4,MOD09GA.A2012005.h08v05.006.2015230022554,NaN,NaN,1089.777778,5741.777778,-7277.333333,6144.111111,17291.666667,3337.555556,3562.555556,...,2023.000000,0.032599,0.010730,0.026017,NaN,MOD09GA,2012005,h08v05,006,2015230022554

In [18]:
from datetime import datetime

#First we need to convert the 'date' column to numeric:

csv['year_day'] = csv['year_day'].apply(pd.to_numeric)


#This converts the year_day column from julian day to the common day format

csv['date'] = (pd.to_datetime((csv.year_day// 1000).astype(str)) + pd.to_timedelta(csv.year_day % 1000, unit='D'))

In [19]:
#Now we check to make sure that the date looks correct!
csv.head()

,file_name,x_position,y_position,state_1km_1,SensorZenith_1,SensorAzimuth_1,SolarZenith_1,SolarAzimuth_1,sur_refl_b01_1,sur_refl_b02_1,...,NDVI,EVI,EVI2,QA_result,sensor,year_day,location,tile,julian_day,date
0,MOD09GA.A2012001.h08v05.006.2015229234041,NaN,NaN,7575.222222,4794.666667,9600.444444,6569.888889,15511.777778,4284.111111,4663.222222,...,0.042358,0.016367,0.037986,NaN,MOD09GA,2012001,h08v05,006,2015229234041,2012-01-02
1,MOD09GA.A2012002.h08v05.006.2015229215527,NaN,NaN,1801.000000,2217.000000,-7788.111111,6280.555556,16547.888889,3294.222222,3476.111111,...,0.026789,0.008679,0.021226,NaN,MOD09GA,2012002,h08v05,006,2015229215527,2012-01-03
2,MOD09GA.A2012003.h08v05.006.2015229234530,NaN,NaN,1289.000000,5870.777778,9385.333333,6668.888889,15194.444444,4443.555556,4876.444444,...,0.046432,0.017533,0.042363,NaN,MOD09GA,2012003,h08v05,006,2015229234530,2012-01-04
3,MOD09GA.A2012004.h08v05.006.2015230024441,NaN,NaN,2022.444444,56.777778,14222.888889,6333.666667,16212.666667,3712.555556,4039.666667,...,0.042174,0.016134,0.035613,NaN,MOD09GA,2012004,h08v05,006,2015230024441,2012-01-05
4,MOD09GA.A2012005.h08v05.006.2015230022554,NaN,NaN,1089.777778,5741.777778,-7277.333333,6144.111111,17291.666667,3337.555556,3562.555556,...,0.032599,0.010730,0.026017,NaN,MOD09GA,2012005,h08v05,006,2015230022554,2012-01-06

In [20]:
#We can look at the Datatypes of the files here:
csv.dtypes

file_name                  object
x_position                float64
y_position                float64
state_1km_1               float64
SensorZenith_1            float64
SensorAzimuth_1           float64
SolarZenith_1             float64
SolarAzimuth_1            float64
sur_refl_b01_1            float64
sur_refl_b02_1            float64
sur_refl_b03_1            float64
sur_refl_b04_1            float64
sur_refl_b05_1            float64
sur_refl_b06_1            float64
sur_refl_b07_1            float64
NDVI                      float64
EVI                       float64
EVI2                      float64
QA_result                 float64
sensor                     object
year_day                    int64
location                   object
tile                       object
julian_day                 object
date               datetime64[ns]
dtype: object

In [21]:
# To make python understand that "date" is a date, we have to change the data type to datetime
#convert the 'New Date' column to the datetime data type
csv['date'] = pd.to_datetime(csv['date'])

In [22]:
#Now select only the columns we want in our output file to use in our graphs

data_for_graphs = csv.loc(axis=1)['file_name',
                    'date',
                    'sur_refl_b01_1',
                    'sur_refl_b02_1',
                    'sur_refl_b03_1',
                    'SensorZenith_1',
                    'SensorAzimuth_1',
                    'SolarZenith_1',
                    'SolarAzimuth_1',
                    'NDVI',
                    'EVI',
                    'EVI2']

In [23]:
#Let's take a look at our table to make sure everything is there

data_for_graphs.head()

,file_name,date,sur_refl_b01_1,sur_refl_b02_1,sur_refl_b03_1,SensorZenith_1,SensorAzimuth_1,SolarZenith_1,SolarAzimuth_1,NDVI,EVI,EVI2
0,MOD09GA.A2012001.h08v05.006.2015229234041,2012-01-02,4284.111111,4663.222222,2334.888889,4794.666667,9600.444444,6569.888889,15511.777778,0.042358,0.016367,0.037986
1,MOD09GA.A2012002.h08v05.006.2015229215527,2012-01-03,3294.222222,3476.111111,2538.888889,2217.000000,-7788.111111,6280.555556,16547.888889,0.026789,0.008679,0.021226
2,MOD09GA.A2012003.h08v05.006.2015229234530,2012-01-04,4443.555556,4876.444444,2689.000000,5870.777778,9385.333333,6668.888889,15194.444444,0.046432,0.017533,0.042363
3,MOD09GA.A2012004.h08v05.006.2015230024441,2012-01-05,3712.555556,4039.666667,1912.444444,56.777778,14222.888889,6333.666667,16212.666667,0.042174,0.016134,0.035613
4,MOD09GA.A2012005.h08v05.006.2015230022554,2012-01-06,3337.555556,3562.555556,2504.111111,5741.777778,-7277.333333,6144.111111,17291.666667,0.032599,0.010730,0.026017

In [24]:
#Now we can export to CSV to save a copy!
data_for_graphs.to_csv("/Volumes/SD/MOD09GA_forGraphs.csv")